body{
    background-image: url('/img/background.jpg');
    background-size: 90%;
}
.center{
    width: 60vw;
    height: 25vw;
    background-color: rgba(0, 0, 0, 0.5)    ;
    margin-left: 20vw;
    margin-top: 33vh;
    border: dashed;
    border-width: 2px;
    border-color: #eee;
    
}
.coming-soon{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 5vw;
    color: #ccc;
    margin-left: 3vw;
}
.logo{
    font-family: 'Pacifico', cursive;
    font-size: 10vw;
    color: #FFF;
    margin-left: 3vw;
}
